@model IEnumerable<OnlineDonation.Data.Entity.Transaction>

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>Transactions</h1>
</div>
@if (ViewBag.IsAdmin == true)
{
    <a asp-action="GenerateReport" target="_blank" class="btn btn-outline-success"><i class="fa fa-download"></i>Download Transactions</a>
    <br />
    <br />
}

<table class="table transactionTable">
    <thead>
        <tr>
            <th>
                Donation Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Donation.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.transactionTable').DataTable({
            dom: "<'row'<'col-sm-6 col-md-6'><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12 no-bottom-margin'rt>>" +
                "<'row'<'col-sm-6 col-md-6'li><' col-sm-12 col-md-6'p>>",
            responsive: true,
            lengthChange: true,
            info: false,
            pagingType: "simple",
            autoWidth: false
        });
    });
</script>
